# Git Ignore file

# Configuration directories
.idea/*
# but allow shared Run Configurations
!.idea/runConfigurations/

.cproject
.project
.settings/
.conan/
docs/apidocs/

# CMake files
CMakeCache.txt
CMakeFiles/
gen/
cmake_install.cmake
cmake-build-debug

# Recommended build directory
build/
Debug/

# Compiler intermediate files
.o
.so
.la
__pycache__/

*.tar
*.gz
dist/
